.body__background-color {
  background-color: rgb(20, 83, 154);
}

.body__text {
  font: 13px / 27px Roboto, Arial, sans-serif;
}

.nav__area {
  padding: 8px;
}

.nav__menu {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
}

.nav__menu li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0.5%;
}

.menu__link {
  text-decoration: none;
  color: white;
}

.menu__link:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
  color: white;
}

.icon-wrapper:hover {
  background: rgba(0, 0, 0, 0.1);
}
