.body__background-color {
  background-color: rgb(20, 83, 154);
}

.body__text {
  font: 13px / 27px Roboto, Arial, sans-serif;
}

.nav__area {
  padding: 8px;
}

.nav__menu {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
}

.nav__menu li {
  list-style: none;
  display: inline-block;
  padding: 15px;
}

.nav__area li:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.menu__goal {
  text-decoration: none;
  color: white;
}
